@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var heading = Model.MacroParameters["Heading"] as string;
    var text = Model.MacroParameters["Text"] as string;
    var node = Umbraco.Content(Model.MacroParameters["TargetContent"] as string);
    var image = node.HasProperty("Image") ? node.GetProperty("Image") : null;
    var listImage = node.HasProperty("ListingImage") ? node.GetProperty("ListingImage") : null;
    //var imageUrl = image != null ? MmmxUrlHelper.GetAbsoluteMediaUrlById(image.DataValue.ToString()) : string.Empty;
    //var listingImageUrl = listImage != null ? MmmxUrlHelper.GetAbsoluteMediaUrlById(listImage.DataValue.ToString()) : string.Empty;
}


<a href="@node.Url" class="card card-in-article">

    @*@if (!string.IsNullOrWhiteSpace(listingImageUrl) || !string.IsNullOrWhiteSpace(imageUrl))
    {
        <div class="img-wrapper img-wrapper-card-img-top">
            <img class="card-img-top" src="@GetImageHelper.RelatedMacroImage(imageUrl, listingImageUrl)" alt="Discount card image">
        </div>
    }*@
    <div class="card-body">
        <h2 class="card-title">@heading</h2>
        <p class="card-text">@text</p>
    </div>
</a>