
<h2>Här ska vädret visas</h2>
<h5>Men hjälp av javascript</h5>

<table class="table table-dark">
    <thead>
    <tr>
        <th>Dag</th>
        <th colspan="3">Väder</th>
        <th colspan="3">Vind (byvind)</th>
        <th colspan="3">Soltider upp/ner</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Idag</td>

        <td>Solikon</td>
        <td>14 grader</td>
        <td>3 grader</td>

        <td>Vindriktning</td>
        <td>Vndhastighet</td>
        <td>Byvind</td>

        <td>Solikon</td>
        <td>Upptid</td>
        <td>Nertid</td>
    </tr>
    </tbody>
</table>

