.blogPostArea {
    padding: 2rem;
    box-shadow: 1px 1px 4px;
    position: relative;
}


.blogSubject {
    position: absolute;
    top: 0;
}


.blogCreateDate {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.blogListItem{
    box-shadow: 1px 1px 1px;
}

#blogImg {
    max-height: 12rem;
    width: 21rem;
    min-width: 21rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogImage img {
    max-width: 100%;
    max-height: 100%;
}


#card-text{
    height: 6rem;
    line-height: 20px;
    overflow: hidden;
}

#blogListContainer{
    width: 80%;
    margin: auto;
        
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}