#weatherIcon {
    height: 2rem;
}

#weatherGadget {
    width: 10rem;
    margin-right: 2rem;
}

#weatherToggleBtn {
    width: inherit;
}

#myRow{
    cursor: pointer;
}

.MyTestRow {
    background-color: #343a40;
}
    .MyTestRow:hover {
        background-color: #343a40 !important;
    }