@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using Examensarbete.Models.ViewModels
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<h2>@Model.Value("headline")</h2>
@Model.Value("rte")
