@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kudoxa</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    @{
        var selection = Umbraco.ContentAtRoot().FirstOrDefault()
        .Children()
        .Where(x => x.IsVisible());
    }
    <div class="navbar navbar-expand-lg bg-light">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/">Kudoxa</a>
            @foreach (var item in selection)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@item.Url">@item.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="container">

        <div class="p-3 m-3">
            <h1>Kudoxa is the place to be</h1>
            @RenderBody()
        </div>
    </div>
  
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>


        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                // Gets weather when page loads
                $.getJSON('/umbraco/api/darkskyapi/get')
                    .done(function (data) {
                        console.table(data);
                        console.table("mep");
                    });

                // Updates weather every hour
                setInterval(function () {
                    $.getJSON('/umbraco/api/darkskyapi/get')
                    .done(function (data) {
                        console.table(data);
                        console.table("varje timme?");
                    });
                }, 36000);

            });
        </script>

    </body>
</html>
