@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    @*
        Here you can specify a redirect URL for after logging out, by default umbraco will simply
        redirect to the current page. Example to redirect to the home page:

        logoutModel.RedirectUrl = "/";
    *@
}


@* the fun starts here *@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kudoxa</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/Css/Main.css" rel="stylesheet" />
    <link href="~/Static/Css/WeatherApp.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="~/Static/Css/BlogStyles.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @Html.Partial("_Navigation")
        <div>
            @RenderBody()
        </div>
    <hr />
    @Html.Partial("_Footer")
    
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Static/Javascript/Main.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
   
    @*
        Dark Sky Weather API icons by Dr. Lex aka Alexander Thomas
        http://www.dr-lex.be/software/darksky-icons.html
        This work is licensed under a Creative Commons Attribution 3.0 Unported License.
        http://creativecommons.org/licenses/by/3.0
        /*@

</body>
</html>
